body{
margin: 0;
padding: 0;
background-image:url("../img/fondo.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
height: 1200px;
width: 100%;    
  
/* momentaneo */
background: black;

}


